<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartPageController</servlet-name>
        <servlet-class>controller.StartPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>test.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentHomeController</servlet-name>
        <servlet-class>controller.student.StudentHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentDataController</servlet-name>
        <servlet-class>controller.student.StudentDataController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillController</servlet-name>
        <servlet-class>controller.student.BillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentReportController</servlet-name>
        <servlet-class>controller.student.StudentReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerStuData</servlet-name>
        <servlet-class>controller.manager.ManagerStuData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateStudent</servlet-name>
        <servlet-class>controller.manager.CreateStudent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartPageController</servlet-name>
        <url-pattern>/start</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentHomeController</servlet-name>
        <url-pattern>/studentHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentDataController</servlet-name>
        <url-pattern>/stuData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BillController</servlet-name>
        <url-pattern>/bill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentReportController</servlet-name>
        <url-pattern>/stuReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerStuData</servlet-name>
        <url-pattern>/manageStuData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateStudent</servlet-name>
        <url-pattern>/createStudent</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
